/*
#save_btn {
    visibility: hidden;
}


#file_input {
    padding: 10px;
    visibility: hidden;
}

#target {
    padding: 10px;
    visibility: hidden;
}
*/

body {
    
    background-color: #edebda
}

#text_div {
    display:none;
}

#main_input_div{
    display:none;
}

#savebtn_div {
    display:none;
}

@media screen and (max-width: 1024px) {
    #drop_div {
      display: none;
    }
  }

